<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name=author content="Joelle Liu">
    <title>User Profile</title>
</head>

<body>
    <div class="profile-container">
      <h1><%= name %>'s Profile</h1>
  
      <div class="userInfo">
        <h2>Birthday</h2>
        <p id="birthday"><%= birthday%></p>
      </div>
  
      <div class="orderHistory">
        <h2>Past Orders</h2>
        <table>
          <thead>
            <tr>
              <th>Order #</th>
              <th>Date</th>
              <th>Items</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#1001</td>
              <td>2024-12-01</td>
              <td>3 Items</td>
              <td>$45.99</td>
            </tr>
            <tr>
              <td>#1002</td>
              <td>2025-01-20</td>
              <td>2 Items</td>
              <td>$29.50</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</body>

</html>